<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px;">
        <a href="/Services/Services" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Tjänster</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/Services/Verksamhetsutveckling" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Verksamhetsutveckling
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Systemutveckling
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Digitalmarknadsföring
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    IT-Säkerhet
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Våra Tjänster</h1>
            <p>Vi på TKNK Solutions erbjuder en lång rad av tjänster inom verksamhets förbättringar eller systemutveckling.</p>
            <p>Våra tjänster nedan är bara ett exempel på några av våra tjänster och paketerbjudanden, har du frågor så var vänlig kontakta oss för mer information.</p>
        
        </div>
        <br />
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="~/Image/Verksamhetsutveckling.jpg" class="card-img-top" alt="..." style="height:300px;">
                    <div class="card-body">
                        <h5 class="card-title">Verksamhetsutveckling</h5>
                        <p class="card-text">Våra konsulter kan analysera ert företag och föreslå förbättringar.</p>
                        <a href="/Services/Verksamhetsutveckling" class="btn btn-primary">För mer information clicka här.</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Image/webdev2.png" class="card-img-top" alt="..." style="height:300px;">
                    <div class="card-body">
                        <h5 class="card-title">Systemutveckling</h5>
                        <p class="card-text">Behöver ditt företag en specefik mjukvarulösning. Inga problem våra konsulter kan hjälpa er att designa helt ny mjukvara för just era behov. Vi kan även erbjuda integrations lösningar där detta är möjligt.</p>
                        <a href="#" class="btn btn-primary">För mer information clicka här.</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Image/digital-marknadsforing.png" class="card-img-top" alt="..." style="height:300px;">
                    <div class="card-body">
                        <h5 class="card-title">Digital Marknadsförning</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">För mer information clicka här.</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Image/Itsäkerhet.jpg"  class="card-img-top" alt="..." style="height:300px;">
                    <div class="card-body">
                        <h5 class="card-title">IT-Säkerhet</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">För mer information clicka här.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>







