<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px;">
        <a href="/Services/Services" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Tjänster</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/Services/Verksamhetsutveckling" class="nav-link text-white active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Verksamhetsutveckling
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Systemutveckling
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Digitalmarknadsföring
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    IT-Säkerhet
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 text-center centerdiv">

        @{
            ViewBag.Title = "Verksamhetsutveckling";
        }

        <h2>Verksamhetsutveckling</h2>
        <img src="~/Image/Verksamhetsutveckling.jpg" alt="Avatar" style="width:300px;height:300px;">
        <p></p>
        <div class="jumbotron">
            <p>Våra konsulter kan hjälpa er med att analysera erat företag och hitta rätt väg framåt för just er.</p>
            <p>Vi erbjuder</p>
            <ul class="centerdlist">
                <li>Analysering av verksamhets processer</li>
                <li>Framtagning av process karta för ert företag</li>
                <li>Hjälp att optimisera eran administration</li>
            </ul>
        </div>
    </div>
</div>

