<div class="d-flex flex-row">
    <div class="d-flex col-md-8 centerdiv justify-content-end">
        <div class="jumbotron">
            @{
                ViewBag.Title = "Contact";
            }
            <h2>Du når oss via följande:</h2>

            <address>
                Adress: <br />
                Assmunderöd 510 <br />
                473 93 Henån <br />
                <abbr title="Phone">Telefon:</abbr>
                0761871762
            </address>

            <address>
                <strong>Information:</strong>   <a href="mailto:info@tknksolutions.se">Info@tknksolutions.se</a><br />
            </address>
        </div>
    </div>    
</div>
