@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="font-size:30px"><b style="font-size: 40px">Tommy:</b> är TKNK solutions energirådgivare</div>
    <div style="font-size:30px"><b style="font-size: 40px">Kia:</b> är TKNK solutions hälso specialist</div>
    <div style="font-size:30px"><b style="font-size: 40px">Niklas:</b> är TKNK solutions verksamhets och programerings specialist</div>
    <div style="font-size:30px"><b style="font-size: 40px">Kristoffer:</b> är TKNK solutions hårdvaru specialist</div>
    <div style="font-size:30px">Tillsamans är vi TKNK solutions och vi är lösningarna på dina problem</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tjänster</h2>
        <p>
            Våra konsulter kan hjälpa er med följande områden: Verksamhets utveckling, System utveckling, Digital marknadsföring, IT-säkerhet
        </p>
        <p><a class="btn btn-dark" href="/Services/Services">Läs mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Om oss</h2>
        <p>Vi är ett litet team med många års erfarenhet inom olika områden, tillsammans bildar vi ett oslagbart team.</p>
        <p><a class="btn btn-dark" href="/About/About">Läs mer &raquo;</a></p>
    </div>
</div>