<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px;">
        <a href="/About/About" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Om Oss</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/About/TommyKarlsson" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Tommy
                </a>
            </li>
            <li>
                <a href="/About/NiklasKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Niklas
                </a>
            </li>
            <li>
                <a href="/About/KiaJohanssonKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Kia
                </a>
            </li>
            <li>
                <a href="/About/MiaNyberg" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Mia
                </a>
            </li>
            <li>
                <a href="/About/KristofferKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Kristoffer
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="jumbotron">
                <h1>Vi som arbetar på TKNK Solutions</h1>
                <p>Vi på TKNK Solutions är ett samansvetsat team av konsulter med stor livserfarenhet och expertkunande.</p>
                <p>Nedan kan du se våra konsulter och medarbetare.</p>

            </div>
            <div class="col-md-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Image/niklas (1 av 1) (2).jpg" alt="Avatar" style="width:300px;height:300px;">
                            <p>Niklas Karlsson</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>Niklas Karlsson</h1>
                            <p>Systemutvecklare</p>
                            <p>Verksamhetsutvecklare</p>
                            <p>IT-säkerhets Specialist</p>
                            <div class="card-footer fixed-bottom">
                                <a href="/About/NiklasKarlsson" class="btn btn-primary">För mer information clicka här.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Image/mia (1 av 1).jpg" alt="Avatar" style="width:300px;height:300px;">
                            <p>Mia Nyberg</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>Mia Nyberg</h1>
                            <p>Marketing</p>
                            <div class="card-footer fixed-bottom">
                                <a href="/About/MiaNyberg" class="btn btn-primary">För mer information clicka här.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Image/Kristoffer.jpg" alt="Avatar" style="width:300px;height:300px;">
                            <p>Kristoffer Karlsson</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>Kristoffer Karlsson</h1>
                            <p>Hårdvaru Expert</p>
                            <p>Ekonomisk Rådgivare</p>
                            <div class="card-footer fixed-bottom">
                                <a href="/About/KristofferKarlsson" class="btn btn-primary">För mer information clicka här.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Image/Kia (1 av 1).jpg" alt="Avatar" style="width:300px;height:300px;">
                            <p>Kia Johansson Karlsson</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>Kia Johansson Karlsson</h1>
                            <p>Hälsospecialist</p>
                            <p>IVA sköterska</p>
                            <div class="card-footer fixed-bottom">
                                <a href="/About/KiaJohanssonKarlsson" class="btn btn-primary">För mer information clicka här.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Image/Tommy (1 av 1).jpg" alt="Avatar" style="width:300px;height:300px;">
                            <p>Tommy Karlsson</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>Tommy Karlsson</h1>
                            <p>Energi specialist</p>
                            <p>Ingenjör</p>
                            <div class="card-footer fixed-bottom">
                                <a href="/About/TommyKarlsson" class="btn btn-primary">För mer information clicka här.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
    </div>
</div>



