<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px;">
        <a href="/About/About" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Om Oss</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/About/TommyKarlsson" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Tommy
                </a>
            </li>
            <li>
                <a href="/About/NiklasKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Niklas
                </a>
            </li>
            <li>
                <a href="/About/KiaJohanssonKarlsson" class="nav-link text-white active">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Kia
                </a>
            </li>
            <li>
                <a href="/About/MiaNyberg" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Mia
                </a>
            </li>
            <li>
                <a href="/About/KristofferKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Kristoffer
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 text-center">

        @{
            ViewBag.Title = "Kia Johansson Karlsson";
        }

        <h2>Kia Johansson Karlsson</h2>
        <img src="~/Image/Kia (1 av 1).jpg" alt="Avatar" style="width:500px;height:500px;">
        <div class="d-flex">
            <ul class="list-inline mx-auto justify-content-center">
                <li class="list-inline-item">IVA Sköterska</li>
                <li class="list-inline-item">Verksamhetsutvecklare</li>
                <li class="list-inline-item">IT-Säkerhets specialist</li>
                <li class="list-inline-item">System arkitetkt</li>
                <li class="list-inline-item">Projekt ledare</li>
            </ul>
        </div>
        <div>
            <p>Hälsokonsult för TKNK solutions</p>
        </div>
        <div>
            <p>
                Är intensivvårdssjuksköterskan som efter sin diabetes blev tvungen att lära sig kost och näringslära. Jag har under hela livet haft problem med att förhålla mig till kosten på ett naturligt sätt. Genom mitt matmissbruk har jag idag hittat en balans mellan nyttig kost och att få i sig rätt näring.  Idag jobbar jag som konsult inom intensivvård där det ställs stora krav på att de sjukaste patienterna får i sig rätt näring. På min fritid ägnar jag mig åt att ständigt förkovra mig inom näringslära. Jag tror på bra med rätt näringsinnehåll.
                I TKNK solutions vill jag hjälpa dig med solutions så att du förstår fördelarna med bra och näringsrik mat och vad det kan göra för din hälsa.
            </p>
        </div>
    </div>
</div>


