<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px;">
        <a href="/About/About" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Om Oss</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/About/TommyKarlsson" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Tommy
                </a>
            </li>
            <li>
                <a href="/About/NiklasKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Niklas
                </a>
            </li>
            <li>
                <a href="/About/KiaJohanssonKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Kia
                </a>
            </li>
            <li>
                <a href="/About/MiaNyberg" class="nav-link text-white active">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Mia
                </a>
            </li>
            <li>
                <a href="/About/KristofferKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Kristoffer
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 text-center">

        @{
            ViewBag.Title = "Mia Nyberg";
        }

        <h2>Mia Nyberg</h2>
        <img src="~/Image/Mia.jpg" alt="Avatar" style="width:500px;height:500px;">
        <div class="d-flex">
            <ul class="list-inline mx-auto justify-content-center">
                <li class="list-inline-item">Marketing</li>
            </ul>
        </div>
        <div>
            <p>Marketing konsult för TKNK</p>
        </div>
        <div>
            <p>
                Texthär
            </p>
        </div>
    </div>
</div>


