<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px;">
        <a href="/About/About" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Om Oss</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/About/TommyKarlsson" class="nav-link text-white active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Tommy
                </a>
            </li>
            <li>
                <a href="/About/NiklasKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Niklas
                </a>
            </li>
            <li>
                <a href="/About/KiaJohanssonKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Kia
                </a>
            </li>
            <li>
                <a href="/About/MiaNyberg" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Mia
                </a>
            </li>
            <li>
                <a href="/About/KristofferKarlsson" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Kristoffer
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 text-center">

        @{
            ViewBag.Title = "Tommy Karlsson";
        }

        <h2>Tommy Karlsson</h2>
        <img src="~/Image/Tommy (1 av 1).jpg" alt="Avatar" style="width:500px;height:500px;">
        <div class="d-flex">
            <ul class="list-inline mx-auto justify-content-center">
                <li class="list-inline-item">VD</li>
                <li class="list-inline-item">Energi specialist</li>
            </ul>
        </div>
        <div>
            <p>VD för TKNK solutions</p>
        </div>
        <div>
            <p>
                Är produktions ekonomen som alltid haft ett brinnande intresse för miljö och energi. Nu sadlar han om och kommer att jobba mer med energieffektivisering. Det Tommy inte kan om energiförbrukning i våra innemiljöer är förmodligen inte värt att veta.
                Han har de senaste 10 åren jobbat med ett projekt på Orust där han har med olika hjälpmedel byggt sitt eget hus och fått ner energiförbrukningen i det. Han är inte färdig ännu med projektet och hans mål är att kunna bli helt energi oberoende.
                I TKNK solutions kommer han kunna hjälpa er med solutions inom energi i fastigheter av olika slag. Genom sin produktionsekonomiska bakgrund kan han också på ett bra sätt räkna ut hur kostnadseffektivt det kommer bli för just dig.
            </p>
        </div>
    </div>
</div>


